<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SnipForMammal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SnipForMammal.Properties.Settings>
            <setting name="updateAuthTokenInterval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="updateSpotifyTrackInfoInterval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="autoCloseAuthWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateCurrentTrackPlayingInterval" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="outputFormat" serializeAs="String">
                <value>"$song" - $artist</value>
            </setting>
            <setting name="defaultUpdateAuthTokenInterval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="defaultUpdateSpotifyTrackInfoInterval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="defaultAutoCloseAuthWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultUpdateCurrentTrackPlayingInterval" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="defaultOutputFormat" serializeAs="String">
                <value>"$song" - $artist</value>
            </setting>
            <setting name="defaultBrowser" serializeAs="String">
                <value>Opera</value>
            </setting>
            <setting name="browser" serializeAs="String">
                <value>Opera</value>
            </setting>
        </SnipForMammal.Properties.Settings>
    </userSettings>
</configuration>